{% extends "layout.html" %}

{% block title %}Blog post{% endblock %}

{% block content %}
    <div class="mw7 center ph3">
        <h1>
            {{ blog.title }}
        </h1>

        <time datatime="{{ blog.published_at|datetime }}">
            {{ blog.published_at|prettydate }}
        </time>

        <div>
            {{ blog.author.name }}
        </div>

        <div>
            {{ blog.content|safe }}
        </div>

        {% if blog.categories %}
            <strong>
                Categories:
            </strong>
            {% for category in blog.categories %}
                <a href="/category/{{ category.slug }}">
                    {{ category.title }}
                </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
